<%- include("partials/header"); -%>


<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <label for="txtTitle">Title</label>
  <input type="text" class="form-control" name="txtTitle" autofocus>

  <label for="txtPost">Post</label>
  <textarea class="form-control" name="txtPost" rows="8" cols="80"></textarea>

  <button type="submit" class="btn btn-primary">Publish</button>
</form>


<%- include("partials/footer"); -%>
